version: "3.9"

services:
  db:
    image: postgres:15
    container_name: moshoflo-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: moshoflo
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: moshoflo-backend
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://admin:admin@db:5432/moshoflo
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: moshoflo-frontend
    depends_on:
      - backend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app

volumes:
  pgdata:
